/* Dropdown.css */
.topnav {
  background-image: linear-gradient(to right, #370a68, #55b2e7);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50px;
  /* width: 90vw; */
  margin-left: auto;
  margin-right: auto;
}

button {
  border-style: none;
}

.drop-icon button {
  background-color: inherit;
  height: inherit;
}

.topnav a {
  display: block;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.dropbtn {
  color: white;
  padding-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.dropbtn:hover {
  width: 100%;
  color: #ffffff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2e0669;
  box-shadow: 1px 7px 15px 2px rgba(0, 0, 0, 0.2);
  z-index: 5;
  height: 20px;
  width: 500px;
}

.dropdown-content button {
  background-color: #2e0669;
  width: 100%;
}

.dropdown-content:hover button:hover {
  background-color: #55b2e7;
}

.link-btn {
  text-align: left;
  color: #ffffff;
  width: 100%;
  font-weight: 500;
}

button:hover {
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 200px;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-icon {
    display: flex;
    color: #ffffff;
    justify-content: flex-start;
    align-self: flex-start;
  }

  .menu-off-options {
    display: none;
  }

  .menu-on-options {
    display: flex;
    flex-direction: column;
  }

  .topnav {
    height: auto;
    flex-direction: column;
  }
}
