.topnav {
  background-image: linear-gradient(to left, #370a68, #55b2e7);
  display: flex;
  align-items:center;
  justify-content: center;
  position: sticky;
  top: 3.44rem; /* Adjust based on the height of the header when not scrolled */
  z-index: 999;
  transition: top 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: auto;
}

button {
  border-style: none;
}

.drop-icon button {
  background-color: inherit;
  height: inherit;
}

.topnav a {
  display: block;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-weight: bold;
}

.dropbtn {
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.dropbtn:hover {
  width: 100%;
  color: #ffffff;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  
  margin-top: 8px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #2e0669;
  box-shadow: 1px 7px 15px 2px rgba(0, 0, 0, 0.2);
  z-index: 5;
  width: 200px;
  transform: translateY(-10px); /* start slightly above */
  transition: opacity 1s ease, transform 1s ease, visibility 0.3s ease;
  border-top:3px solid #55b2e7;
  border-bottom:3px solid #55b2e7;

}

.dropdown-content button {
  background-color: #2e0669;
  width: 100%;
}

.dropdown-content:hover button:hover {
  background-color: #55b2e7;
}

.link-btn {
  text-align: left;
  color: #ffffff;
  width: 100%;
  font-weight: 500;
}

button:hover {
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  display: block;
  
}

.menu-icon {
  display: none;
}
.bigSearch{
  margin-left:1rem;
}
.quick-links-hidden {
  display: none;
}


@media screen and (max-width: 1010px) {
  .menu-icon {
    display: flex;
    color: #ffffff;
    /* justify-content: space-around;
    align-self: space-around; */
    padding: 10px;
  }
.bigSearch{
  display: none;
}
.menu-search{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}

  .menu-off-options {
    display: none;
  }
#seach-icon{
  color: black;
}

  .menu-on-options {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .topnav {
    height: auto;
    flex-direction: column;
    position: sticky;
  }

  .dropdown-content {
    display: none;
    position: relative;
    width: 100%;
  }
  

  .dropdown {
    width: 100%;
  }

  .topnav a {
    padding: 10px;
    font-size: 16px;
  }

  .dropbtn {
    width: 100%;
  }
  .quick-links-hidden {
    display: block;
  }
}
@media screen and (max-width: 767px){
  .topnav {
    height: auto;
    flex-direction: column;
    position: sticky;
    top: 4.7rem;
  }

  .dropdown-content{
    display: none;
  }

}