.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  background-color: white;
  padding: 0.5rem;
  transition: all 0.1s ease-in;
  z-index: 1000;
  width: 100%;
  position: sticky;
  top: 0;
}

.header-container.scrolled {
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in;
}

.logo {
  align-items: center;
  width: 7rem;
  height: auto;
  transition: width 0.3s ease;
}

.header-container.scrolled .logo {
  width: 2.5rem;
   align-self: left;
}

.header-text {
  /* flex: 1; */
  text-align: center;
  transition: opacity 0.3s ease;
}

.header-container.scrolled .header-text h1 {
  font-size: 1.4rem;
}

.header-container.scrolled .header-text h5 {
  display: none;
}

.header-container.scrolled .header-text h6 {
  display: none;
}

.university-name {
  font-size: 1.7rem;
  margin: 0;
}

.location {
  font-size: 1.2rem;
  margin: 10px 0;
}
@media screen and (min-width: 767px) and (max-width: 1010px) {
  .header-container.scrolled .header-text h1 {
    font-size: 1.15rem;
  }
  
}
@media (max-width: 767px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }
  .university-name {
    font-size: 1rem;
    margin: 0;
  }
  .location {
    font-size: 0.7rem;
    margin: 5px 0;
  }
  .logo {
    width: 8rem;
  }

  .header-container.scrolled .logo {
    width: 3rem;
  }

  .header-container.scrolled .header-text h1 {
    font-size: 0.7rem;
  }
}
@media (max-width: 449px){
  .header-container.scrolled .header-text h1 {
    font-size: 0.55rem;
  }
}
