.allRightContentHolderHeading {
  color: #370A68;
  font-weight: 600;
  font-size: 22px;
  width: auto;
  margin-top: 10px;
}
.allRightContentHolderContent h6 {
  /* text-decoration: underline; */
  font-style: italic;
  font-weight: 600;
  /* color: #2e0669; */
}
.allRightContentHolderContent p {
  font-size: 16px;
  /* letter-spacing: 0.3px; */
  line-height: 30px;
  text-align: justify;
}


/* Mobile-first defaults above. Larger-screen adjustments */
@media screen and (min-width: 769px) {
  .actualContainer {
    flex-direction: row;
  }

  .allRightContentHolder {
    width: auto;
  }

  .allRightContentHolderContent{
    padding:0 0 0 0;
  }

  .allRightContentHolderContent h3 {
    font-size: 20px;
  }

  .allRightContentHolderContent p {
    font-size: 16px;
    line-height: 30px;
  }

  .allRightContentHolderHeading {
    font-size: 26px;
    width: 400px;
  }
}
