.tableProgramOffered {
  height: auto;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 30px;
}
.searchProgramsOffered {
  width: 100%;
}
.headProgramsOffered {
  color: #370A68;
  font-weight: 600;
  font-size: 20px;
  width: auto;
}

.searchTextProgramsOffered {
  width: 80%;
  padding-bottom: 0.5rem;
  margin-left: 0;
}

@media screen and (min-width: 501px) {
  .tableProgramOffered {
    height: 90vh;
    width: 80vw;
  }

  .headProgramsOffered {
    font-size: 26px;
    width: 400px;
  }

  .searchTextProgramsOffered {
    width: 30%;
    margin-left: 50%;
  }
}
