.heading {
  font-family: "Inter", sans-serif;
display: flex;
justify-content: center;
color: #2e0669;
margin-top: 0px;
font-weight: 600; /* Optional: Adjust font size */
  margin-bottom: 20px; /* Optional: Add margin below the heading */
}