.youtube-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.youtube-logo-banner {
  width: 200px;
  max-width: 80%;
  height: auto;
  transition: transform 0.3s ease;
}

.youtube-logo-banner:hover {
  transform: scale(1.05);
}
.MuiCard-root:hover {
  transform: translateY(-5px);
}