.allLeftMenu {
  list-style-type: none;
  padding: 0;
  margin-right: 20px;
  margin-left: 30px;
}

.allLeftMenu a {
  text-decoration: none;
  color: black;
  display: block;
  font-weight: bold;
}

.allLeftMenu a.active {
  color: rgb(9, 9, 9); /* Change the active link color as desired */
}

.allRightContent {
  flex-grow: 1;
  padding: 0 20px; /* Add some padding for better spacing */
}

.allRightContentHeading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #2e0669;
  margin-bottom: 20px; /* Add space below the heading */
}


/* Button structure */
.allLeftMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Default button style */
.allLeftMenu .menuButton {
  background-color: grey;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 300px; /* Set a fixed width for your buttons */
  height: 60px; /* Set a fixed height for your buttons */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover state */
.allLeftMenu .menuButton:hover {
  background-color: #690001;
}

/* Selected state */
.allLeftMenu .menuButton.active {
  background-color: #690001;
}

.exam-main {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .exam-main {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Reduced margin on smaller screens */
    margin-right: 10px;
  }

  .allRightContent {
    padding: 0 10px; /* Less padding on smaller screens */
  }

  .allLeftMenu .menuButton {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Auto height for better responsiveness */
  }
}

