/* aboutUs.css */

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.625rem);
  }
  100% {
    transform: translateY(0);
  }
}

.aboutUs {
  background-color: #370b69;
  background-image: linear-gradient(
    transparent,
    transparent 320px,
    rgba(255, 255, 255,0.9) 370px
  );
  padding-top:4.75rem ;
}

.aboutUs-card{
  display: flex;
  flex-direction: column;
  border-radius: 0.9375rem; /* 15px */
  cursor: pointer;
  box-shadow: 0 0.20rem 1.20rem 0 rgba(255, 255, 255, 0.1); /* 0px 4px 20px */
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  width: 85%;
  height: auto;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 1.25rem; /* 20px */
  transition: transform 0.3s, box-shadow 0.3s;
  animation: float 3s ease-in-out infinite;
}

.aboutUs-card:hover {
  transform: translateY(-0.625rem); /* -10px */
  box-shadow: 0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.9); /* 0px 10px 30px */
}

.aboutUs-image {
  width: 10.5rem; 
  height: 10.5rem; 
  border-radius: 50%;
  margin-top: 3.125rem; 
  margin-bottom: 0.625rem; 
}

.aboutUs-name {
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem; 
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.aboutUs-designation {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem; 
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.more-link {
  text-decoration: none;
}
@media (max-width: 767px) {
  .aboutUs {
    padding-bottom: 1.25rem; 
    padding-top:2rem ;
    background-image:none;
    
  }

  .aboutUs-image {
    width: 6.25rem; 
    height: 6.25rem; 
    margin-top: 0.625rem; 
    margin-bottom: 0.625rem;
  }

  .aboutUs-name {
    font-size: 1.125rem;
    line-height: 1.5;
    color:#370b69;
  }

  .aboutUs-designation {
    font-size: 0.75rem; 
    }
   .aboutUs-card{
    background:linear-gradient(360deg, #fff 0%, rgba(255, 255, 255, 0) 100%)
   }
}
