.Calender {
  padding-top: 8px;
  padding-bottom: 12px;
}

.accordion-affiliated {
  margin-top: 12px;
}

.calender-title {
  font-size: 20px;
  font-weight: 600;
  color: #370A68;
}

tr:nth-child(even +) {
  background-color: #f2f2f2;
}

.AffiliatedColleges-search {
  width: 100%;
  padding-bottom: 0.4rem;
  margin-left: 0;
}

@media screen and (min-width: 501px) {
  .AffiliatedColleges {
    padding-top: 1rem;
    margin-left: 0px;
    width: 100%;
  }

  .table-container {
    width: 100%;
    padding: 0rem;
  }

  .AffiliatedColleges-search {
    width: max-content;
    padding-bottom: 0.4rem;
    margin-left: 70%;
  }

  .AffiliatedColleges-title {
    padding-left: 0rem;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    font-size: 26px;
    color: #690001;
  }
}
  