/*  */
* {
  user-select: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 6px; /* Width of the entire scrollbar */
}

/* Customize scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #340468; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the thumb */
}

/* Customize scrollbar track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #f1f1f1; /* Color of the scrollbar track on hover */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
