.AD-Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.ADallLeftMenu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}
.AD-sub{

}
.ADallLeftMenu .menuButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ADallLeftMenu .menuButton:hover {
  background-color: #370a68;
  color: white;
}

.ADallLeftMenu .menuButton.active {
  background-color: #2e0669;
  color: white;
}

.AD-Content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.allRightContent-Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

.profileName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-Image {
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(to right, #370a68, #4a90e2);
  padding: 5px; /* Adjust this to match the desired border width */
}

.profile-Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  background: white;
  padding: 5px; /* Adjust this to match the desired border width */
}
.AD-sub {
  text-decoration: underline;
  color: rgb(14, 14, 174);
  font-size: 17px;
  font-weight: bold;
}
.profileName h3 {
  color: #531679;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.profileName h4 {
  color: #626262;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.profileDetails {
  color: #5c5757;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding: 0 10px;
}

.profileDetails p {
  margin: 10px 0;
}

.contributions{
  text-align: left;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .ADallLeftMenu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .ADallLeftMenu .menuButton {
    width: 100%;
  }

  .allRightContent-Profile {
    margin: 10px;
    padding: 15px;
  }

  .profile-Image {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }

  .profileName h3 {
    font-size: 20px;
  }

  .profileName h4 {
    font-size: 16px;
  }

  .profileDetails {
    font-size: 14px;
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .profileName h3 {
    font-size: 18px;
  }

  .profileName h4 {
    font-size: 14px;
  }

  .profileDetails {
    font-size: 12px;
  }
}
